absl-py
astor
attrs
bbopt
cycler
decorator
fitipy
future
gast
grpcio
h5py
hyperopt
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mock
-e git+git@github.com:MycroftAI/mycroft-precise@37ef1ab91eeca81fd889bce2967775b2f6918d97#egg=mycroft_precise
networkx
numpy
pbr
pocketsphinx
portalocker
-e git+git@github.com:MycroftAI/mycroft-precise@37ef1ab91eeca81fd889bce2967775b2f6918d97#egg=precise_runner&subdirectory=runner
prettyparse
protobuf
PyAudio
pymongo
pyparsing
python-dateutil
PyYAML
scikit-learn
scikit-optimize
scipy
six
sonopy
speechpy-fast
tensorboard<2
tensorflow<2
tensorflow-estimator<2
termcolo
tqdm
typing
wavio
Werkzeug
